/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

section{
  padding-top: 4vh;
  height: 95vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.section-container{
  display: flex;
}

#logo-span{
    color: #396460;
  }

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* === removing default button style ===*/
.button34 {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button34 {
  --border-right: 6px;
  --text-stroke-color: #396460;
  --animation-color: #396460;
  --fs-size: 1.5rem;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Poppins";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.8px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  /* -webkit-text-stroke: 1px var(--animation-color); */
}
/* hover */
.button34:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}